<div class="text-center">
  <h1><%= @restaurant.name %></h1>
  <div class="bg-light p-3">
    <h2><%= @restaurant.category %></h2>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>
    <%= link_to 'Write a review', new_restaurant_review_path(@restaurant), class: 'btn btn-secondary' %>
  </div>
  <div class="mt-3">
    <h3>Reviews:</h3>
    <% @restaurant.reviews.reverse.each do |review| %>
      <div class="d-flex flex-column justify-content-center card p-5">
        <p><%= review.content %></p>
        <p><%= '*' * review.rating %></p>
      </div>
    <% end %>
    <%= link_to "Back", restaurants_path, class: 'btn mt-2' %>
  </div>
</div>
